<div id="logo">
    <img src="assets/images/logo.png" alt="Fennec Web OS Logo">
</div>
<div id="loginForm">
    <form action="login" method="post">
        <input type="text" class="text-input" placeholder="Email or nickname..." id="username" name="username" />
        <input type="text" class="text-input" placeholder="Password..." id="password" name="password" />
        <input type="submit" value="Login" class="button" />
        <span class="clear"></span>
    </form>
</div>
<div id="social">
    <a href="http://twitter.com/fennecos" class="twitter">@fennecos</a>
</div>
